body {
    margin: 0px;
    padding: 0px;
    background: #f9f9f9;
    color: #333;
}
 
.box {
    margin: 20px 0px;
}
 
.box-header {
    height: 20px;
    border: 1px solid #ddd;
    margin-bottom: -1px;
    padding: 10px;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #fafafa, #efefef);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef));
    background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
    background-image: -o-linear-gradient(top, #fafafa, #efefef);
    background-image: linear-gradient(to bottom, #fafafa, #efefef);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 2px 2px 0px 0px;
    -moz-border-radius: 2px 2px 0px 0px;
    border-radius: 2px 2px 0px 0px;
    overflow: hidden;
}
 
.box-header h2{
    font-size: 16px;
    line-height: 16px;
    float:left;
    margin-top: 2px;
    color: #646464;
    font-weight: normal;
    text-shadow: 0px 1px 0px #fff;
}
 
.box-header h2 i{
    margin: 1px 3px 0px 5px;
    opacity: .4;
}
 
.box-header .break{
    border-left: 1px solid #fcfcfc;
    border-right: 1px solid #ddd;
    margin: -12px 10px -10px 10px;
    padding: 12px 0px 10px 0px;
               
}
 
.box-header .box-icon {
    float:right;
    margin-top: 1px;
}
 
.box-header .box-icon i {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    opacity: .4;
}
 
.box-header .box-icon i:hover {
    opacity: .8;
}
 
.box-header .box-icon a {
    margin: 0px 5px;
}
 
.box-content {
    margin-top: -1px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fcfcfc;
    -webkit-border-radius: 0px 0px 2px 2px;
    -moz-border-radius: 0px 0px 2px 2px;
    border-radius: 0px 0px 2px 2px;
    -webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, .6);
    -moz-box-shadow: 0 1px 0px rgba(255, 255, 255, .6);
    box-shadow: 0 1px 0px rgba(255, 255, 255, .6);
    margin-bottom: 10px;
}
 
#sidebar-nav {
    position: absolute;
    width: 200px;
    float: left;
    margin: 0em;
    padding-top: 4em;
}
 
#sidebar-nav .nav-list {
    padding: 0px;
}
 
#sidebar-nav .nav-list li {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    margin-bottom: -1px;
}
 
#sidebar-nav .nav-list li.active {
    background: #f3f3f5;
    border-right: 0px;
    border-top: 1px solid #cfcfd6;
    border-bottom: 1px solid #cfcfd6;
}
 
#sidebar-nav .nav-list li a,
#sidebar-nav .nav-list li a:hover {
    color: #585868;
    text-shadow: 1px 1px 0px #fff;
    padding: .5em 2em;
    border: 0px;
    margin: 0px 1px;
    background: none;
}
 
#sidebar-nav .nav-list li.active a {
    border: 0px;
}
#sidebar-nav .nav-list li:hover {
    background: #e8e8eb;
}
.content {
    min-width: 400px;
    min-height: 300px;
    position: relative;
    background: #fff;
    margin-left: 200px;
    margin-bottom: 20px;
    border-left: 1px solid #cfcfd6;
    border-bottom: 1px solid #cfcfd6;
}
 
#main-stats {
    margin-left: -20px;
    margin-right: -20px;
    background-color: #fdfdfd;
    border-bottom: 1px solid #efeef3;
}
 
#main-stats .stats-row {
    box-shadow: inset -1px 0px 5px 2px #f9f9f9;
}
 
#main-stats .stat {
    text-align: right;
    padding: 30px 0px 35px 0px;
    border-right: 1px solid #e8e9ee;
    position: relative;
    box-shadow: 1px 0px 0px 0px white;
    margin-top:40px;
}
 
#main-stats .stat.last {
    border-right: 0px;
}
 
#main-stats .stat .data {
    color: #29323a;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    padding-right: 50px;
}
 
#main-stats .stat .data .number {
    color: #32a0ee;
    font-size: 25px;
    margin-right: 15px;
}
 
#main-stats .stat .date {
    color: #b4b8bb;
    font-weight: lighter;
    font-family: 'Lato', 'Open Sans';
    font-style: italic;
    font-size: 13px;
    position: absolute;
    right: 50px;
}

.subtext {
    font-size: 12px;
    margin-left: 0;
    color: #778391;
    font-style: italic;
    margin-top: 0;
}

.wraper {
    border-left: 1px solid #dddde2;
    padding-left: 20px;
    margin-top: 5px;
}

.r-wraper {
    padding-left: 10px;
}

.wraper-esquerda {
    border-right: 1px solid #dddde2;
    padding-right: 20px;
    margin-top: 5px;
}

.dados {
    border-bottom: 1px solid #dddde2;
    margin-bottom: 10px;
}

#teste {
	margin-top:40px;
	padding:5px;
}

/* pull control label left */
.form-horizontal .control-label {
    width:150px; /* default 160 */
    margin-right:10px;
}

/* pull input box left */
.form-horizontal .controls {
    margin-left: 55px; /* defaul 180 */
}

/* shorten input box  */
input, textarea, .uneditable-input {
    width: 180px; /* default 206 */
}

.stat-box {
  width: 100%;
  height: 90px;
  min-height: 90px;
  margin: 4px auto;
  display: inline-block;
  background-color: #eeeeee;
  text-align: center;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
  /* line 197, components/widgets.css.scss */
  .stat-box i {
    padding: 0;
    font-size: 2em;
    vertical-align: top;
    text-align: center; }
  /* line 204, components/widgets.css.scss */
  .stat-box .icon-large:before {
    margin-top: 15px; }
  /* line 208, components/widgets.css.scss */
  .stat-box .count {
    font-size: 2em;
    padding-left: 5px;
    font-weight: 600;
    line-height: 2.5em; }
  /* line 215, components/widgets.css.scss */
  .stat-box .stat-text {
    display: block;
    font-size: 1.2em;
    margin-top: -5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600; }
    .stat-box.medium-blue {
    background: #67a0be;
    border: 1px solid #5595b6; }
    .light-gray {
  background: #f6f6f6;
    border: 1px solid #e9e9e9;
    height: 100%;
  background: transparent;
  margin: 10px auto 5px auto;
  padding: 0;
  line-height: 20px;
  background: #f6f6f6;
    border: 1px solid #e9e9e9; }
    .light-gray.inner {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 10px;
  margin: 10px; }
  .center {
  text-align: center; }
ul.audience-alt {
  list-style: none;
  overflow: hidden;
  margin:0; }
  /* line 46, components/reports.css.scss */
  ul.audience-alt li {
    width: 100%;
    overflow: inherit;
    padding-top: 5px;
    border-bottom: 1px dotted #eeeeee;
    font-weight: 600; }
    /* line 54, components/reports.css.scss */
    ul.audience-alt li .stat-name {
      float: left;
      margin-left: 8px;
      margin-top: 5px;
      display: inline-block;
      color: rgba(0, 0, 0, 0.5);
      line-height: 50px;
      text-transform: uppercase;
      vertical-align: text-bottom; }
    /* line 72, components/reports.css.scss */
    ul.audience-alt li .value {
      float: left;
      display: inline-block;
      font-size: 2.5em;
      line-height: 50px;
      color: rgba(0, 0, 0, 0.4);
      text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6), 0 0 1px rgba(0, 0, 0, 0.3); }
    /* line 83, components/reports.css.scss */
    ul.audience-alt li .progress-bar {
      width: 30%;
      float: right;
      margin-right: 10px;
      padding-top: 25px; }
    /* line 90, components/reports.css.scss */
    ul.audience-alt li .percent {
      float: right;
      margin-top: 5px;
      display: inline-block;
      color: #67a0be;
      line-height: 55px;
      text-transform: uppercase;
      vertical-align: text-bottom; }

      .progress-medium-blue .bar {
  background-color: #67a0be;
  background: #67a0be; }

  .big-label {
  width: 40px;
  height: 40px;
  margin: 5px 5px 0 0;
  display: inline-block;
  background-color: #aaaaaa;
  border: 1px solid #9d9d9d;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  text-align: center; }